argcomplete
beautifulsoup4
cryptography
face_recognition
Flask
Flask-SocketIO
folium
fpdf
google-generativeai
numpy
opencv-python
openpyxl
Pillow
psutil
PyAudio
PyPDF2
pynput
pyshorteners
python-docx
python-socketio[client]
qrcode
requests
scapy
scikit-image
