argcomplete
beautifulsoup4
cryptography
Flask
Flask-SocketIO
fpdf
numpy
opencv-python
openpyxl
Pillow
psutil
PyAudio
PyPDF2
pynput
pyshorteners
python-docx
python-socketio[client]
qrcode
requests
scapy
scikit-image
